//
// Global variable system
//
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

// Main colors variables
$white: #fff !default;
$black: #000 !default;
$blue-primary: #01c2d2 !default;
$blue-secondary: #426294 !default;
$blue-light: #ddf0f2 !default;
$purple-primary: #21052d !default;
$gray-100: #f2f2f2 !default;
$gray-200: #dcdcdc !default;
$gray-250: #e0e0e0 !default;
$gray-300: #828282 !default;
$gray-400: #333 !default;
$gray-500: #4f4f4f !default;
$gray-600: #666873 !default;
$green-primary: #00ff85 !default;
$green-light: #cff0e1 !default;

$font-main: 'Poppins', sans-serif !important;
